<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
          <action type="Redirect" redirectType="Found" url="https://luckygames.tips/{R:0}" />
        </rule>
        <rule name="Retorno do script" stopProcessing="true">
          <match url="^script$" ignoreCase="true" />
          <action type="Rewrite" url="script.js" appendQueryString="false" />
        </rule>
        <!--
        <rule name="Retorno do script CABOT" stopProcessing="true">
          <match url="^cabot$" ignoreCase="true" />
          <action type="Rewrite" url="script-cabot.js" appendQueryString="false" />
        </rule>
        <rule name="Retorno do script CABOT Fast" stopProcessing="true">
          <match url="^cabot0$" ignoreCase="true" />
          <action type="Rewrite" url="script-cabot-fast.js" appendQueryString="false" />
        </rule>
        <rule name="Retorno do script GAMEBOT" stopProcessing="true">
          <match url="^gamebot$" ignoreCase="true" />
          <action type="Rewrite" url="script-gamebot.js" appendQueryString="false" />
        </rule>
        <rule name="Retorno do script original" stopProcessing="true">
          <match url="^first$" ignoreCase="true" />
          <action type="Rewrite" url="script-first.js" appendQueryString="false" />
        </rule>
        -->
        <rule name="Bloqueio de acesso aos scripts" stopProcessing="true">
          <match url="^scripts" ignoreCase="true" />
          <action type="Rewrite" url="/" appendQueryString="false" />
        </rule>
        <rule name="Execução de WepAPI" stopProcessing="true">
          <match url="^exec/(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="php/api.php?{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Comando inválido da WepAPI" stopProcessing="true">
          <match url="(/.*|.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="." appendQueryString="false" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHP72_via_FastCGI" />
      <add name="PHP72_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.2\php-cgi.exe" resourceType="File" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>