@font-face {
  font-family: 'FastForward';
  src: url('FastForward.woff') format('woff'),
       url('FastForward.ttf') format('truetype'),
       url('FastForward.svg#FastForward') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fast-forward';
  src: url('fast-forward.eot');
  src: url('fast-forward.woff2') format('woff2'),
       url('fast-forward.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

