<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS" stopProcessing="true">
					<match url=".*"/>
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:0}"/>
				</rule>
				<rule name="WordPress: https://dsv.luckygames.tips" patternSyntax="Wildcard">
					<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php"/>
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<remove name="PHP72_via_FastCGI"/>
			<add name="PHP72_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.2\php-cgi.exe" resourceType="File" requireAccess="Script"/>
		</handlers>
	</system.webServer>
</configuration>
